<!DOCTYPE html>
{{!-- <meta charset="utf-8"> --}}
<head>
<meta name="google-site-verification" content="_u7mBJTDwpy3Pv_1j1sCDz5ir-Qv0wSiJ7YPj0urcC0" />
<title>{{#if title}}{{title}} &ndash; {{/if}}{{authorName}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/icon" href="/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,500">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>{{{css}}}
</style>

{{#if isBlog}}
<link rel="alternate" href="/blog/feed.xml" type="application/atom+xml" title="khendanielblog"> {{/if}}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5BFHK74');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125032359-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-125032359-1');
</script>
</head>
<!-- Google Tag Manager (noscript) -->
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BFHK74"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="container">
  <header role="banner">
    <h1>
      {{!-- <a href="/">{{{logo}}}</a> --}}
    </h1>
  </header>
  <div id="content">
    {{#if isArticle}}
    <article>{{/if}} {{{contents}}} {{#if isArticle}}</article>{{/if}}
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </footer>
</div>
</body>
<script>
  window.onload = function () {
    var $figures = document.getElementsByTagName('figure');
    if (!$figures.length) return;
    var asideImages = function () {
      for (var i = 0, l = $figures.length; i < l; i++) {
        var $figure = $figures[i];
        var $images = $figure.getElementsByTagName('img');
        if ($images.length == 1) {
          var $img = $images[0];
          var width = $img.naturalWidth || $img.width;
          if (width <= 280 && (width / $figure.parentNode.offsetWidth * 100 < 50)) {
            $figure.className = 'image-aside';
          } else if ($figure.className) {
            $figure.className = '';
          }
        }
      }
    };
    asideImages();
    window.onresize = asideImages;
  };
</script>